body {
    font-family: "Times New Roman", serif;
    background: white;
  }
  
  .container {
    display: flex;
    width: 1000px;
    margin: 20px auto;
  }
  
  .left {
    width: 350px;
    margin-right: 20px;
  }
  
  .ship {
    width: 300px;
    margin-bottom: 10px;
  }
  
  .instructions {
    font-size: 14px;
    text-align: left;
  }
  
  .settings, .info {
    margin: 10px 0;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 5px;
  }
  
  .stats {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .right {
    width: fit-content;
  }
  
  #board {
    display: grid;
    border: 2px solid #888;
    background: #aaa;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    background-image: url("items/pokrito.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
  
  
  .cell.revealed {
    background: #eee;
    cursor: default;
  }
  
  .cell img {
    width: 100%;
    height: 100%;
  }
  